﻿@{
    Layout = null;
}
@*Contenido del Usuario*@
<div class="col-xs-16" id="FormularioTipoCambio">
    <div class="panel-body help_color">
        <div class="row main-title">
            <div class="col-sm-6">
                <h2 class="inner-title">Tipo de Cambio</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
                <button type="button" class="btn btn-primary pull-right btn-new" id="btnNuevoTipoCambio" onclick="nuevoTipoCambio()"><i class="fa fa-file"></i>&nbsp; Nuevo Tipo de Cambio</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="col-sm-12 control-label">Fecha :</label>
                    <div class="col-sm-12">
                        <input id="txtFecha_search" type="date" class="form-control" placeholder="Buscar Fecha" />
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-1 col-sm-offset-4">
                <div id="btnBuscarTipoCambio" class="btn btn-primary btn-sm" onclick="filtrarListaTipoCambio()"><i class="fa fa-search"></i>&nbsp;Buscar</div>
            </div>
            <div class="col-sm-1">
                <div id="btnLimpiarTipoCambio" class="btn btn-primary btn-sm" onclick="ClearTipoCambio()"><i class="fa fa-refresh"></i>&nbsp;Limpiar</div>
            </div>
            <div class="col-sm-1">
                <div id="btnModalSunat" class="btn btn-primary btn-sm" onclick="ModalSunatTipoCambio()"><i class="fa fa-calendar"></i>&nbsp;Sunat</div>
            </div>
            <div class="col-sm-1">
                <div id="btnModalSunatLista" class="btn btn-primary btn-sm" onclick="ModalSunatListaTipoCambio()"><i class="fa fa-money"></i>&nbsp;Cargar Fechas</div>
            </div>
        </div>
    </div>

</div>

@*lista de  clientes*@
<div id="listTipoCambio" class="container">
    <div class="box-body table-responsive col-sm-12">
        <div class="col-xs-16">
            <!--Aquí empieza el contenedor de secciones-->
            <div class="block-web">
                <div class="porlets-content">
                    <div class="panel-body help_color">
                        <table class="table table-bordered table-striped" id="tblListaTipoCambio" style="width:100%;overflow-x:scroll;"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@{ Html.RenderPartial("modal_tipoCambio"); }
@{ Html.RenderPartial("form_tipoCambio"); }
@{ Html.RenderPartial("new_tipoCambio"); }