﻿@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width" />
    <title>.::Sistema Retenciones::.</title>
    <link href="~/assets/css/style_login.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/assets/css/spinner.css" rel="stylesheet" />
</head>
<body id="frmLogin" class="logueo">
    <div class="contenido-logueo">
        <div id="cl-wrapper" class="login-container">

            <div class="middle-login">
                <div class="block-flat">
                    <div class="header">
                        <h1 class="text-center h3"><strong>Sistema de Retenciones</strong></h1>

                        <h3 class="text-center"><img class="logo-img" src="~/assets/img/logo.png" alt="Bureau Veritas" /></h3>
                    </div>
                    <div>
                        <form name="login" id="login_produce" method="post" style="margin-bottom: 0px !important;"
                              class="form-horizontal">
                            <div class="content">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div>
                                            <span id="spnMensaje"></span>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" style="min-width: 40px;"><i class="fa fa-user"></i></span>
                                            <input id="txtUsuario" type="text" class="form-control" maxlength="20" placeholder="Usuario" data-name="Usuario" name="requerido" autofocus="autofocus" />

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <div class="input-group">
                                            <span class="input-group-addon" style="min-width: 40px;"><i class="fa fa-lock"></i></span>
                                            <input id="txtClave" type="password" class="form-control" maxlength="15" placeholder="Password" data-name="Clave" name="requerido" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="foot">
                                <div>
                                    <input id="btnAceptar" type="button" value="Ingresar" style="width:100px;margin: 0 auto;text-align: center;display: block;" class="btn btn-bureau btn-rad" />
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center out-links"><a href="#">&copy; 2018 Bureau Veritas</a></div>
            </div>
        </div>
    </div>
    <div id="loaderOverlay">
        <div id="loaderContainer" class="spinner">
        </div>
    </div>
    <input id="hdfRaiz" type="hidden" value='@Url.Content("~")' />
    <script src="~/assets/js/login/logIn.js"></script>
    <script src="~/assets/js/lib/jquery-2.1.0.js"></script>
    <script src="~/assets/js/lib/jquery-confirm.js"></script>
</body>
</html>