﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>.::Sistema Retenciones::.</title>

    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/css/admin.css" rel="stylesheet" />
    <link href="~/assets/css/spinner.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.treeview.css" rel="stylesheet" />
    <link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body class="light_theme  fixed_header left_nav_fixed">
    @RenderBody()
    <script src="~/assets/js/lib/jquery-2.1.0.js"></script>
    <script src="~/assets/js/lib/bootstrap.min.js"></script>
    <script src="~/assets/js/lib/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/lib/common-script.js"></script>
    <script src="~/assets/js/lib/jquery.sparkline.js"></script>
    <script src="~/assets/js/lib/jquery-confirm.js"></script>
    <script src="~/assets/js/lib/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/lib/dataTables.bootstrap.min.js"></script>

    <script src="~/assets/plugins/toggle-switch/toggles.min.js"></script>
    <script src="~/assets/js/lib/generic.js"></script>
    <script src="~/assets/js/menu/menu.js"></script>
    <script src="~/assets/js/lib/jquery.plugins.min.js"></script>
    <script src="~/assets/js/lib/jquery.treeview.js"></script>
    @* Maintenance *@
    <script src="~/assets/js/maintenance/usuario.js"></script>
    <script src="~/assets/js/maintenance/perfil.js"></script>
    @* Web *@
    <script src="~/assets/js/web/proveedor.js"></script>
    <script src="~/assets/js/web/tipoCambio.js"></script>
    <script src="~/assets/js/web/tipoRetencion.js"></script>
    <script src="~/assets/js/web/tipoComprobante.js"></script>
    <script src="~/assets/js/web/retencion.js"></script>
    @*Exportar  PDF*@
    <script src="~/assets/js/lib-pdf/FileSaver.js"></script>
    <script src="~/assets/js/lib-pdf/jspdf.js"></script>
    <script src="~/assets/js/lib-pdf/jspdf.plugin.table.js"></script>
</body>
</html>
