﻿<!-- Modal -->
<div class="modal fade" id="modalRetencion" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="modalMessageTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMessageTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <legend>Datos Generales</legend>
                        <input type="hidden" id="retencionIDHid" />
                        <div class="row form-group">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="col-sm-12 col-form-label my-label">Tipo de Retencion</label>
                                    <div class="col-sm-12">
                                        <select class="form-control required" id="selectTipoRetencion" onchange="CorrelativoRetencion()"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-9 col-form-label my-label">Nro de Comprobante</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="txtNumRetencion" class="form-control required" placeholder="Ingrese Numero" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-9 col-form-label my-label">RUC</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="txtRuc" class="form-control numeric required" placeholder="Ingrese RUC" autocomplete />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1">
                                <div class="form-group">
                                    <label class="col-sm-9 col-form-label my-label">&nbsp;&nbsp;</label>
                                    <div class="col-sm-9">
                                        <div class="btn btn-dark" onclick="nuevoProveedorRetencion()" style="margin-left:-26px;"><i class="fa fa-plus"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-12 col-form-label my-label">Fecha de Emision de Pago</label>
                                    <div class="col-sm-12">
                                        <input type="date" id="txtFechaEmisionPago" class="form-control required" placeholder="Ingrese Fecha de Emision" onchange="monedaRetencion2()" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8" id="cl-moneda">
                                <div class="form-group">
                                    <label class="col-sm-9 col-form-label my-label">Moneda</label>
                                    <div class="col-sm-12">
                                        <select class="form-control required" id="selectMoneda" onchange="monedaRetencion()">
                                            <option value="0">Seleccione</option>
                                            <option value="1">Soles (S/.)</option>
                                            <option value="2">Dolares ($)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" id="cl-tipo-cambio" style="display:none;">
                                <div class="form-group">
                                    <label class="col-sm-12 col-form-label my-label">Tipo de Cambio</label>
                                    <div class="col-sm-12">
                                        <input type="text" id="txtTipoCambio" class="form-control required" placeholder="Ingrese Tipo de Cambio" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr_retencion"/>
                        <div id="FormularioDetalleRetencion">
                            <div class="row form-group">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-form-label my-label">Tipo Comprobante</label>
                                        <div class="col-sm-12">
                                            <select class="form-control required" id="selectTipoComprobante"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-form-label my-label">Serie</label>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtSerie" class="form-control required" placeholder="Ingrese Serie" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-form-label my-label">Num. Documento</label>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtNumero" class="form-control required" placeholder="Ingrese Numero" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-form-label my-label">Fecha Emision</label>
                                        <div class="col-sm-12">
                                            <input type="date" id="txtFechaEmision" class="form-control required" placeholder="Ingrese Fecha" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-form-label my-label">Monto</label>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtMonto" class="form-control numeric required" placeholder="Ingrese Monto" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-form-label my-label">N° Pago</label>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtNumeroPago" class="form-control numeric" placeholder="Ingrese Numero" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-form-label my-label">Pago Parcial</label>
                                        <div class="col-sm-12">
                                            <input type="text" id="txtPago" class="form-control numeric" placeholder="Ingrese Pago Parcial" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="col-sm-12 col-form-label my-label">&nbsp;&nbsp;</label>
                                        <div class="col-sm-12">
                                            <div class="btn btn-dark" style="margin-left:-14px;" onclick="guardarDetalleRetencion()"><i class="fa fa-check-circle"></i>&nbsp;<span> Guardar</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <table class="table table-bordered table-striped" id="tblListaRetencionDetalle" style="width:100%;overflow-x:scroll;">
                                    <thead>
                                        <tr>
                                            <th>&nbsp;&nbsp;</th><th style="display:none;">ID Tipo</th><th>Tipo</th><th>Serie</th><th>N° Documento</th><th>Fecha</th><th>Monto</th><th style="display:none;">Monto 3</th><th>Retencion</th><th style="display:none;">Retencion 3</th><th>Total</th><th style="display:none;">Total 3</th><th style="display:none;">Numero Pago</th><th style="display:none;">Pago Parcial</th>
                                        </tr>
                                    </thead>
                                    <tbody id="listaRetencionDetalle"></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-sm-offset-6 col-form-label my-label">Monto Retenido</label>
                            <div class="col-sm-3">
                                <input id="txtTotalRetencion" type="text" class="form-control" maxlength="70" placeholder="Total Retencion" value="0.00" readonly/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-sm-offset-6 col-form-label my-label">Monto Sin retencion</label>
                            <div class="col-sm-3">
                                <input id="txtTotalSinRetencion" type="text" class="form-control" maxlength="70" placeholder="Total Sin Retencion" value="0.00" readonly/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-sm-offset-6 col-form-label my-label">Total</label>
                            <div class="col-sm-3">
                                <input id="txtTotal" type="text" class="form-control" maxlength="70" placeholder="Total" value="0.00" readonly />
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div id="btnGuardarRetencion" class="btn btn-primary btn-insert" onclick="AccionRetencion('I')"><i class="fa fa-check-circle"></i>&nbsp;<span>Guardar</span></div>
                <div id="btnActualizarRetencion" class="btn btn-primary btn-update" onclick="AccionRetencion('U')"><i class="fa fa-check-circle"></i>&nbsp;<span>Actualizar</span></div>
                <div class="btn btn-secondary btn-dark" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;<span>Cancelar</span></div>
            </div>
        </div>
    </div>
</div>

