﻿<!-- Modal -->
<div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="modalMessageTitle" aria-hidden="true" style="z-index:1060;">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMessageTitle2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <fieldset>
                        <legend>Datos Generales</legend>
                        <input type="hidden" id="proveedorIDHid" />
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">RUC</label>
                            <div class="col-sm-6">
                                <input id="txtRUC_ret" type="text" class="form-control numeric required" maxlength="11" placeholder="RUC" />
                            </div>
                            <div class="col-sm-2">
                                <div class="btn btn-secondary btn-dark" onclick="BuscarSunatRet()"><i class="fa fa-search"></i>&nbsp;<span>Buscar</span></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Razon Social</label>
                            <div class="col-sm-9">
                                <input id="txtRazonSocial" type="text" class="form-control required" maxlength="150" placeholder="Razon Social" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Direccion</label>
                            <div class="col-sm-9">
                                <input id="txtDireccion" type="text" class="form-control required" maxlength="300" placeholder="Direccion" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Email</label>
                            <div class="col-sm-9">
                                <input id="txtEmail" type="text" class="form-control required" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Telefonos</label>
                            <div class="col-sm-9">
                                <input id="txtTelefono" type="text" class="form-control numeric" placeholder="Telefono" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Estado</label>
                            <div class="col-sm-9">
                                <input id="txtEstado" type="text" class="form-control" maxlength="70" placeholder="Estado" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Condicion</label>
                            <div class="col-sm-9">
                                <input id="txtCondicion" type="text" class="form-control" maxlength="70" placeholder="Condicion" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Departamento</label>
                            <div class="col-sm-9">
                                <select class="form-control required" id="selectDept"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Provincia</label>
                            <div class="col-sm-9">
                                <select class="form-control required" id="selectProv"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Distrito</label>
                            <div class="col-sm-9">
                                <select class="form-control required" id="selectDist"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label my-label">Estado</label>
                            <div class="col-sm-9 required-radio">
                                <label>
                                    <input id="radActivo" type="radio" name="estado" value="1" />
                                    Activo
                                </label>
                                <label>
                                    <input id="radInActivo" type="radio" name="estado" value="2" />
                                    Inactivo
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <div id="btnGuardarProveedor" class="btn btn-primary btn-insert" onclick="AccionProveedorRet('I')"><i class="fa fa-check-circle"></i>&nbsp;<span>Guardar</span></div>
                <div class="btn btn-secondary btn-dark" data-dismiss="modal"><i class="fa fa-times-circle"></i>&nbsp;<span>Cancelar</span></div>
            </div>
        </div>
    </div>
</div>

